<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}BibliStream{% endblock %}</title>
        
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/base/css/bootstrap.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/base/css/global.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/base/css/color-button.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/base/css/element.css') }}" />
        
        <!-- js Boots_from -->
        <script src="{{ asset('bundles/base/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/base/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/base/js/custom.js') }}"></script>
        <!-- end Boots_from -->
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="brand" href="{{ path('bibliSymfony_base_accueil') }}">
                                <span>Bibli</span><span class="cl-blue">Stream</span>
                            </a>
                        </div>
                        <div class=" nav-collapse">
                            <ul class="nav pull-right col-md-7">
                                <li><a href="{{ path('bibliSymfony_base_accueil') }}">Accueil</a></li>
                                
                                

                                <li><button onclick="self.location.href='{{ path('film_categorie') }}'" type="button"  class="btn">Gestion Categories</button></li>
                                <li><button onclick="self.location.href='{{ path('bibliSymfony_base_users') }}'" type="button" class="btn">Gestion Utilisateurs</button></li>
                                <li><button onclick="self.location.href='{{ path('film_liste') }}'" type="button"  class="btn">Gestion Films</button></li>
                                <li><button onclick="self.location.href='{{ path('film_gestionBa') }}'" type="button"  class="btn">Gestion Broadcast</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% block body %}{% endblock %}
        
        {% block javascripts %}{% endblock %}
        
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 logo-vt">
                        <a class="brand" href="#">
                            <span>Bibli</span><span class="cl-blue">Stream</span>
                        </a>
                        <span class="coppy_right">
                            <p>BibliStream est un site de la société</p>
                            <p>3C @ 2014 Tous droits réservés.</p>
                            <p>Projet CARCAIP13-15 CCI&Caux.</p>
                        </span>
                    </div>
                    
                    <div class="col-md-2 col-sm-3">
                        <ul class="nav nav-list">
                            <li class="nav-header">CCI&Caux</li>
                            <li><a href="https://www.facebook.com/ccicaux.formation.76?fref=ts"><i class="facebook"></i>Facebook</a></li>
                            <li><a href="http://www.ccicaux-formation.com/"><i class="cl-blue"></i>Site web</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end footer -->
    </body>
</html>
