<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/base/css/bootstrap.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/base/css/global.css') }}" />
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/base/css/color-button.css') }}" />
	<!-- js Boots_from -->
	<script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/custom.js"></script>
	<!-- end Boots_from -->
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true">
<div class="wrapper-login">
	<div class="container">
		<div class="row">
			<div class="login-content span4 offset4">
				<div class="header-login well">
					<h3>Identification</h3>
				</div>
				<form class="well">
					<label>Nom</label>
					<input type="text" class="input" placeholder="Entrez votre nom...">
					<label>Mot de passe</label>
					<input type="text" class="input" placeholder="Entrez votre mot de passe...">
					</label>
				  	<a href="{{ path('bibliSymfony_base_accueil') }}" type="submit" class="btn btn-info">Connexion</a><br><br>
				        <a href="{{ path('bibliSymfony_base_accueil') }}" type="invite" class="btn btn-info">Poursuivre en tant qu'invité</a>
				</form>	
			</div>
		<div>
	</div>
</div>
</body>
</html>


